test
<div class = "section-container" id = "honey-top-sc">
  <div id = "honey-top-image" class = "bg-container parallax__layer">
  <!-- <%= image_tag("front-mid.jpg") %> -->
  </div>

  <div id = "honey-top-content" class = "content-container parallax__layer">
    <h1>PICTURES GO HERE</h1>
  </div>
</div>

<div class = "section-container" id = "honey-mid-sc">
  <div id = "honey-mid-image" class = "bg-container parallax__layer">
  <!-- <%= image_tag("front-mid.jpg") %> -->
  </div>

  <div id = "honey-mid-content" class = "content-container parallax__layer">
    <h1>PICTURES GO HERE</h1>
  </div>
</div>
