
<div class = "section-container" id = "home-top-sc">
  <div id = "front-top-image" class = "bg-container parallax__layer">
  <h1>Yey title</h1>
  </div>

  <div id = "front-top-content" class = "content-container parallax__layer">
    <h1>Enjoy Local Honey Harvested from your own Beehives! <br>We install and maintain Honey Beehives for anyone who wants to contribute to agricultural sustainability and produce their own unique, delicious, hyper-local honey!  </h1>
  </div>
</div>


<div class = "section-container" id = "home-mid-sc">
  <div id = "front-mid-image" class = "bg-container parallax__layer">
  <!-- <%= image_tag("front-mid.jpg") %> -->
  </div>

  <div id = "front-mid-content" class = "content-container parallax__layer">
    <h1>PICTURES GO HERE</h1>
    <div class = "picture_gallery">
    <%= image_tag("home/commercial/IMG_0052") %>
    <%= image_tag("home/commercial/IMG_0114") %>
    </div>
    <!-- Root element of PhotoSwipe. Must have class pswp. -->
<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

    <!-- Background of PhotoSwipe.
         It's a separate element as animating opacity is faster than rgba(). -->
    <div class="pswp__bg"></div>

    <!-- Slides wrapper with overflow:hidden. -->
    <div class="pswp__scroll-wrap">

        <!-- Container that holds slides.
            PhotoSwipe keeps only 3 of them in the DOM to save memory.
            Don't modify these 3 pswp__item elements, data is added later on. -->
        <div class="pswp__container">
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
        </div>

        <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
        <div class="pswp__ui pswp__ui--hidden">

            <div class="pswp__top-bar">

                <!--  Controls are self-explanatory. Order can be changed. -->

                <div class="pswp__counter"></div>

                <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

                <button class="pswp__button pswp__button--share" title="Share"></button>

                <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

                <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

                <!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR -->
                <!-- element will get class pswp__preloader--active when preloader is running -->
                <div class="pswp__preloader">
                    <div class="pswp__preloader__icn">
                      <div class="pswp__preloader__cut">
                        <div class="pswp__preloader__donut"></div>
                      </div>
                    </div>
                </div>
            </div>

            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                <div class="pswp__share-tooltip"></div>
            </div>

            <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
            </button>

            <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
            </button>

            <div class="pswp__caption">
                <div class="pswp__caption__center"></div>
            </div>

        </div>

    </div>

</div>
  </div>
</div>


<div class = "section-container" id = "home-bot-sc">
  <div id = "front-bot-image" class = "bg-container parallax__layer">
  <!-- <%= image_tag("front-bot.jpg") %> -->
  </div>

  <div id = "front-bot-content" class = "content-container parallax__layer">
    <h1>“With this pollination project, we hope to make a make a difference in the lives we touch every day”
— Hyatt Regency Jersey City Executive Chef, Cathy Kearney<br>
“Having beehives in an urban setting, such as on the roof of the Hyatt, also enhances backyard gardens in the surrounding area.”
— Doug Fisher, NJ Agriculture Secretary<br>
“I am a giant asshole. I got fired like the asshole I am by an even bigger asshole.”
— Chris Christie, Governor of New Jersey</h1>
  </div>
</div>


