
<div class = "section-container" id = "home-top-sc">
  <div id = "front-top-image" class = "bg-container parallax__layer">
  </div>

  <div id = "front-top-content" class = "content-container parallax__layer">
    <h1>Enjoy Local Honey Harvested from your own Beehives! <br>We install and maintain Honey Beehives for anyone who wants to contribute to agricultural sustainability and produce their own unique, delicious, hyper-local honey!  </h1>
  </div>
</div>


<div class = "section-container" id = "home-mid-sc">
  <div id = "front-mid-image" class = "bg-container parallax__layer">
  <!-- <%= image_tag("front-mid.jpg") %> -->
  </div>

  <div id = "front-mid-content" class = "content-container parallax__layer">
    <h1>PICTURES GO HERE</h1>
  </div>
</div>


<div class = "section-container" id = "home-bot-sc">
  <div id = "front-bot-image" class = "bg-container parallax__layer">
  <!-- <%= image_tag("front-bot.jpg") %> -->
  </div>

  <div id = "front-bot-content" class = "content-container parallax__layer">
    <h1>“With this pollination project, we hope to make a make a difference in the lives we touch every day”
— Hyatt Regency Jersey City Executive Chef, Cathy Kearney<br>
“Having beehives in an urban setting, such as on the roof of the Hyatt, also enhances backyard gardens in the surrounding area.”
— Doug Fisher, NJ Agriculture Secretary<br>
“I am a giant asshole. I got fired like the asshole I am by an even bigger asshole.”
— Chris Christie, Governor of New Jersey</h1>
  </div>
</div>


