
<div class = "section-container" id = "home-top-sc">
  <div id = "front-top-image" class = "bg-image-container">
  <%= image_tag("front-top.jpg") %>
  </div>

  <div id = "front-top-content" class = "content-container">
    <h1>TEST</h1>
  </div>
</div>




