<!DOCTYPE html>
<html xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml" xmlns:website="http://ogp.me/ns/website" lang="en-US" itemscope itemtype="http://schema.org/WebPage" >
<head>

<!-- r3114 -->


  <meta name="viewport" content="width=device-width, initial-scale=1"/>


  <!-- This is Squarespace. --><!-- beeboldapiaries -->
<base href="">
<meta charset="utf-8" />
<title>Bee Bold Apiaries</title>
<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico"/>
<link rel="canonical" href="http://beeboldapiaries.com/"/>
<meta property="og:site_name" content="Bee Bold Apiaries"/>
<meta property="og:title" content="Home"/>
<meta property="og:url" content="http://beeboldapiaries.com/"/>
<meta property="og:type" content="website"/>
<meta property="og:description" content="Bee Bold Apiaries installs and maintains honeybee hives for clients who
want to contribute to agricultural sustainability and enjoy a seasonal
harvest of delicious local honey."/>
<meta property="og:image" content="http://static1.squarespace.com/static/504a9746e4b0a7ecb415e46d/t/539f2977e4b07ded532b5d2d/1453230598735/?format=1000w"/>
<meta itemprop="name" content="Home"/>
<meta itemprop="url" content="http://beeboldapiaries.com/"/>
<meta itemprop="description" content="Bee Bold Apiaries installs and maintains honeybee hives for clients who
want to contribute to agricultural sustainability and enjoy a seasonal
harvest of delicious local honey."/>
<meta itemprop="thumbnailUrl" content="http://static1.squarespace.com/static/504a9746e4b0a7ecb415e46d/t/539f2977e4b07ded532b5d2d/1453230598735/?format=1000w"/>
<link rel="image_src" href="http://static1.squarespace.com/static/504a9746e4b0a7ecb415e46d/t/539f2977e4b07ded532b5d2d/1453230598735/?format=1000w" />
<meta itemprop="image" content="http://static1.squarespace.com/static/504a9746e4b0a7ecb415e46d/t/539f2977e4b07ded532b5d2d/1453230598735/?format=1000w"/>
<meta name="twitter:title" content="Home"/>
<meta name="twitter:image" content="http://static1.squarespace.com/static/504a9746e4b0a7ecb415e46d/t/539f2977e4b07ded532b5d2d/1453230598735/?format=1000w"/>
<meta name="twitter:url" content="http://beeboldapiaries.com/"/>
<meta name="twitter:card" content="summary"/>
<meta name="twitter:description" content="Bee Bold Apiaries installs and maintains honeybee hives for clients who
want to contribute to agricultural sustainability and enjoy a seasonal
harvest of delicious local honey."/>
<meta name="description" content="We install and maintain organic Honey Beehives for anyone who wants to
contribute to agricultural sustainability and produce delicious,
hyper-local honey!" />
<script type="text/javascript" src="//use.typekit.net/ik/hJ8xhTIm-ZC-M0c0f0cX4amDollFACPAXO-Elb5pPXCfen3ffFHN4UJLFRbh52jhWD93FeIoFDbhZQsKweIaZAFKF2IuZQbhZgTljcm8jcNCZeB3-ABk-AmDOcFzdPUaiaS0jcm8jcNCZeB3-ABk-AmDOcFzdPUKZAmKdhUqjWgTjW4TZWw0SaBujW48Sagyjh90jhNlOfG0jcm8jcNCZeB3-ABk-AmDO1FUiABkZWF3jAF8OcFzdPJwSY4zpe8ljPu0daZyH6qJ73IbMg6gJMJ7fbRKHyMMeMw6MKG4fHvgIMMjgfMfH6qJnbIbMg6eJMJ7fbKCMsMMeMC6MKG4fJCgIMMjgkMfH6qJ7bIbMg6JJMJ7fbRRHyMMeMX6MKG4fJqgIMMjfPMfH6qJCMIbMg65JMJ7fbK0MsMMegM6MKG4fJ3gIMMjIPMfH6qJ76IbMg6PJMJ7fbKHMsMMegw6M6.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans:400,800,300,300italic,400italic,600,600italic,700,700italic,800italic"/>
<script type="text/javascript">SQUARESPACE_ROLLUPS = {};</script>
<script>(function(rollups, name) { if (!rollups[name]) { rollups[name] = {}; } rollups[name].js = ["//static.squarespace.com/universal/scripts-compressed/common-0e6d1dde35f5c0047e23-min.js"]; })(SQUARESPACE_ROLLUPS, 'squarespace-common');</script>
<script type="text/javascript" data-sqs-type="dynamic-assets-loader">(function() {(function(a){function e(b){-1!==b.indexOf(".js")?document.write("<script "+f+'crossorigin="anonymous" src="'+b+'">\x3c/script>'):document.write('<link rel="stylesheet" type="text/css" href="'+b+'" />')}var g=function(){var b=window.location.search,a=b.indexOf("exclude=");return-1<a&&(b=b.substr(a+8).split("&")[0])?b.split(","):[]}(),f;f=window.__beta_flag_should_defer?'defer="defer" ':"";try{if(window.top!=window&&window.top.Squarespace&&window.top.Squarespace.frameAvailable){window.top.Squarespace.frameAvailable(window,
SQUARESPACE_ROLLUPS);return}}catch(h){console.error(h)}for(var c in a)if(!(-1<g.indexOf(c))){if(a[c].js)for(var d=0;d<a[c].js.length;d++)e(a[c].js[d]);if(a[c].css)for(d=0;d<a[c].css.length;d++)e(a[c].css[d])}})(SQUARESPACE_ROLLUPS);
})();</script><script type="text/javascript" data-sqs-type="imageloader">(function() {var EXCLUDED_SIZES=function(){var a=window.location.search,b=a.indexOf("exclude_imageloader_sizes=");return-1<b&&(a=a.substr(b+26).split("&")[0])?a.split(",").map(function(a){return parseInt(a,10)}):[]}(),SQUARESPACE_SIZES=[2500,1500,1E3,750,500,300,100].filter(function(a){return-1===EXCLUDED_SIZES.indexOf(a)}),IMAGE_LOADING_CLASS="loading",ImageLoader=new function(){this.load=function(a,b){function d(a,b,c){var d=new Image;d.onload=b;d.onerror=c;d.src=a}a.getDOMNode&&(a=a.getDOMNode());var c=this._getDataFromNode(a,
b),e=!(!c.dimensions||!c.dimensions.width||!c.dimensions.height),g=c.load+"";if("false"===g)return!1;var h=c.mode;if(e&&("fit"===h||"fill"===h)){h=a.parentNode;if(!h)return console.error("Not doing anything, parentNode not found."),!1;if(!this.refresh(a,b,h))return!1}var n=this._intendToLoad(a,c);if("string"===typeof n&&"viewport"!==g){var m=this.getUrl(n,c),g=a.getAttribute("data-image-resolution");a.getAttribute("src")!==m&&this.isValidResolution(n,g)&&(a.onload=function(){a.className=a.className.replace(IMAGE_LOADING_CLASS,
" ").trim();a.setAttribute("data-image-resolution",n)},!a.getAttribute("src")&&-1===a.className.indexOf(IMAGE_LOADING_CLASS)&&(a.className+=(a.className?" ":"")+IMAGE_LOADING_CLASS),!a.getAttribute("src")&&e?(a.setAttribute("src",m),c.useBgImage&&(a.parentNode.style.backgroundImage="url("+m+")")):d(m,function(){e?a.setAttribute("src",m):(a.setAttribute("data-image-dimensions",this.width+"x"+this.height),ImageLoader.load(a,b))},function(){a.className=a.className.replace(IMAGE_LOADING_CLASS," ").trim();
a.setAttribute("src",m)}));return!0}return n};this.refresh=function(a,b,d){a.getDOMNode&&(a=a.getDOMNode());d&&d.getDOMNode&&(d=d.getDOMNode());d=d||a.parentNode;if(!d)return console.error("Not doing anything, parentNode not found."),!1;var c=this._getDataFromNode(a,b),e=d.offsetWidth,g=d.offsetHeight;b=c.mode;if("none"!==b){var h=c.dimensions.width,n=c.dimensions.height,m=h/n,q=e/g;if(c.useBgImage&&"fill"===b&&"backgroundSize"in document.documentElement.style)return a.style.display="none",d.style.backgroundSize=
"cover",d.style.backgroundPosition=100*c.focalPoint.x+"% "+100*c.focalPoint.y+"%",!0;if(c.fixedRatio)"fill"==b&&q>m||"fit"==b&&q<m?(k=100,l=100*(q/m),r=(100-l)*c.focalPoint.y,p=0):(k=100*(m/q),l=100,r=0,p=(100-k)*c.focalPoint.x),a.style.top=r+"%",a.style.left=p+"%",a.style.width=k+"%",a.style.height=l+"%";else{var f;"fill"===b?f=m>q?g/n:e/h:"fit"===b&&(f=m<q?g/n:e/h);!c.stretch&&"fit"==b&&1<f&&(f=1);var k=Math.ceil(h*f),l=Math.ceil(n*f);if(0===k||0===l)return!1;var p,r;"fill"===b?(p=Math.min(Math.max(e/
2-k*c.focalPoint.x,e-k),0),r=Math.min(Math.max(g/2-l*c.focalPoint.y,g-l),0)):"fit"===b&&(f=c.fitAlignment,p=f.left?0:f.right?e-k:k<e?(e-k)/2:0,r=f.top?0:f.bottom?g-l:l<g?(g-l)/2:0,"inline"==this._getStyle(a,"display")&&(a.style.fontSize="0px"),this._resetAlt(a,function(){k-=a.offsetHeight-a.clientHeight;l-=a.offsetWidth-a.clientWidth}));a.style.top=Math.ceil(r)+"px";a.style.left=Math.ceil(p)+"px";a.style.width=Math.ceil(k)+"px";a.style.height=Math.ceil(l)+"px"}p=this._getStyle(d,"position");a.style.position=
"relative"==p?"absolute":"relative";if("fill"==b&&(b=this._getStyle(d,"overflow"),!b||"hidden"!=b))d.style.overflow="hidden";return!0}};this._intendToLoad=function(a,b){function d(c,d){"none"===b.mode&&(a.style.width=null,a.style.height=null);var e=parseFloat(a.getAttribute(c)),f=parseFloat(e);if(!f||isNaN(f))e=h._getStyle(a,c),f=parseFloat(e);if(!f||isNaN(f))e=h._getStyle(a,"max-"+c,"max"+(c.substr(0,1).toUpperCase()+c.substr(1))),f=parseFloat(e);if(0===d||e)switch(h._stringType(e)){case "percentage":d=
parseInt(e,10)/100*g["offset"+c.substr(0,1).toUpperCase()+c.substr(1)];break;case "number":d=parseInt(e,10)}!f&&0!==d&&!a.getAttribute("src")&&(d=0);return d}b=b||this._getDataFromNode(a);if(!b.source)return!1;var c=a.offsetWidth,e=a.offsetHeight,g=a.parentNode,h=this;this._resetAlt(a,function(){c=d("width",c);e=d("height",e)});0===c&&0===e?(c=b.dimensions.width,e=b.dimensions.height):0===c?c=this.getDimensionForValue("width",e,b):0===e&&(e=this.getDimensionForValue("height",c,b));"viewport"===b.load&&
(a.style.width=Math.floor(c)+"px",a.style.height=Math.floor(e)+"px");return this.getSquarespaceSize(c,e,b)};this._getDataFromNode=function(a,b){b=b||{};var d={focalPoint:{x:0.5,y:0.5},dimensions:{width:null,height:null},mode:"none",fitAlignment:{center:!0},load:"true",stretch:!0,fixedRatio:!1};if(b.focalPoint)d.focalPoint=b.focalPoint;else{var c=a.getAttribute("data-image-focal-point");if(c&&(c=c.split(","))&&2==c.length)d.focalPoint={x:parseFloat(c[0]),y:parseFloat(c[1])}}if(b.dimensions)d.dimensions=
b.dimensions;else if((c=a.getAttribute("data-image-dimensions"))&&(c=c.split("x"))&&2==c.length)d.dimensions={width:parseInt(c[0],10),height:parseInt(c[1],10)};b.mode?d.mode=b.mode:a.parentNode&&(c=a.parentNode.className,-1!==c.indexOf("content-fill")?d.mode="fill":-1!==c.indexOf("content-fit")&&(d.mode="fit"));if("fit"===d.mode&&a.parentNode&&(c=b.fitAlignment||a.getAttribute("data-alignment")||a.parentNode.getAttribute("data-alignment")))d.fitAlignment={top:-1!==c.indexOf("top"),left:-1!==c.indexOf("left"),
center:-1!==c.indexOf("center"),right:-1!==c.indexOf("right"),bottom:-1!==c.indexOf("bottom")};b.load?d.load=b.load:(c=a.getAttribute("data-load"))&&(d.load=c);if("undefined"!==typeof b.stretch)d.stretch=b.stretch;else if(c=a.getAttribute("data-image-stretch"))d.stretch="true"===c?!0:!1;d.source=b.source?b.source:a.getAttribute("data-src");d.source&&this.isSquarespaceUrl(d.source)&&("http:"===d.source.substr(0,5)&&"https"===window.location.protocol.substr(0,5))&&(d.source=d.source.replace("http://",
"https://"));if(b.fixedRatio)d.fixedRatio=b.fixedRatio;else if(c=a.getAttribute("data-fixed-ratio"))d.fixedRatio="true"==c;b.useBgImage?d.useBgImage=b.useBgImage:(c=a.getAttribute("data-use-bg-image"),d.useBgImage="true"===c||!0===c?!0:!1);return d};this._stringType=function(a){return"string"===typeof a&&-1!==a.indexOf("%")?"percentage":isNaN(parseInt(a,10))?NaN:"number"};this._getStyle=function(a,b,d){var c;a.currentStyle?c=a.currentStyle[d||b]:window.getComputedStyle&&(c=document.defaultView.getComputedStyle(a,
null).getPropertyValue(b));return c};this._isVisible=function(a){a=a.getBoundingClientRect();return 0<=a.left&&0<=a.top||0<=a.bottom&&0<=a.right||0<=a.left&&0<=a.bottom||0<=a.right&&0<=a.top};this.getSquarespaceSize=function(a,b,d){a=Math.max(b/(d.dimensions.height/d.dimensions.width),a);"undefined"===typeof app&&"number"===typeof window.devicePixelRatio&&(a*=window.devicePixelRatio);for(b=1;b<SQUARESPACE_SIZES.length&&!(a>SQUARESPACE_SIZES[b]);b++);return SQUARESPACE_SIZES[b-1]+"w"};this.getDimensionForValue=
function(a,b,d){var c=d.dimensions.width;d=d.dimensions.height;return"width"==a?c/d*b:"height"==a?d/c*b:NaN};this.getUrl=function(a,b){var d=b.source;return a&&("/"==d[0]||this.isSquarespaceUrl(d))?(-1===d.indexOf("format="+a)&&(d=d+(-1!==d.indexOf("?")?"&":"?")+"format="+a),d):b.source};this.isSquarespaceUrl=function(a){return-1!==a.indexOf("squarespace.com")||-1!==a.indexOf("squarespace.net")||-1!==a.indexOf("sqsp.net")};this.isValidResolution=function(a,b){a=parseInt(a,10);b=parseInt(b,10);return isNaN(a)||
isNaN(b)?!0:a>b};this._resetAlt=function(a,b){var d=a.getAttribute("alt"),c=d&&0<d.length&&!a.getAttribute("src");if(c){var e=a.style.display;a.removeAttribute("alt");a.style.display="none";a.offsetHeight+0;a.style.display=e}b.call(this);c&&a.setAttribute("alt",d)};this.bootstrap=function(){var a=document.images;if(0<a.length)for(var b=0,d=a.length;b<d;b++)((a[b].hasAttribute?a[b].hasAttribute("data-image"):a[b].attributes["data-image"])||(a[b].hasAttribute?a[b].hasAttribute("data-src"):a[b].attributes["data-src"]))&&
"false"!==(a[b].getAttribute?a[b].getAttribute("data-load"):a[b].attributes["data-load"])+""&&ImageLoader.load(a[b])}};window.ImageLoader=ImageLoader;window.YUI&&YUI.add("squarespace-imageloader",function(a){},"1.0",{requires:[]});
})();</script>
<script>Static.SQUARESPACE_CONTEXT = {"facebookAppId":"314192535267336","rollups":{"squarespace-announcement-bar":{"css":"//static.squarespace.com/universal/styles-compressed/announcement-bar-d41d8cd98f00b204e9800998ecf8427e-min.css","js":"//static.squarespace.com/universal/scripts-compressed/announcement-bar-371f722308ed6aa0f108-min.js"},"squarespace-audio-player":{"css":"//static.squarespace.com/universal/styles-compressed/audio-player-76e4bfcc3f9830beb388bae2002fbe6c-min.css","js":"//static.squarespace.com/universal/scripts-compressed/audio-player-a11dcd00b88b94ff4751-min.js"},"squarespace-blog-collection-list":{"css":"//static.squarespace.com/universal/styles-compressed/blog-collection-list-d41d8cd98f00b204e9800998ecf8427e-min.css","js":"//static.squarespace.com/universal/scripts-compressed/blog-collection-list-586598a6e7854143dd83-min.js"},"squarespace-calendar-block-renderer":{"css":"//static.squarespace.com/universal/styles-compressed/calendar-block-renderer-032634519fa160b1d2da6986dce0cdae-min.css","js":"//static.squarespace.com/universal/scripts-compressed/calendar-block-renderer-83f66cf7c569d7db3ae5-min.js"},"squarespace-chartjs-helpers":{"css":"//static.squarespace.com/universal/styles-compressed/chartjs-helpers-9935a41d63cf08ca108505d288c1712e-min.css","js":"//static.squarespace.com/universal/scripts-compressed/chartjs-helpers-e372a169b5dd3900037c-min.js"},"squarespace-comments":{"css":"//static.squarespace.com/universal/styles-compressed/comments-db79f121099c10e9346733da5bc6bb10-min.css","js":"//static.squarespace.com/universal/scripts-compressed/comments-c69d0ed29dfb525186b0-min.js"},"squarespace-dialog":{"css":"//static.squarespace.com/universal/styles-compressed/dialog-41403d1f0d87846c1b05baa36a8d7c38-min.css","js":"//static.squarespace.com/universal/scripts-compressed/dialog-d28501d585c6843e4b68-min.js"},"squarespace-events-collection":{"css":"//static.squarespace.com/universal/styles-compressed/events-collection-032634519fa160b1d2da6986dce0cdae-min.css","js":"//static.squarespace.com/universal/scripts-compressed/events-collection-240fade47cf9501228d3-min.js"},"squarespace-gallery-collection-list":{"css":"//static.squarespace.com/universal/styles-compressed/gallery-collection-list-d41d8cd98f00b204e9800998ecf8427e-min.css","js":"//static.squarespace.com/universal/scripts-compressed/gallery-collection-list-6bd1189ab9c3da17735c-min.js"},"squarespace-image-zoom":{"css":"//static.squarespace.com/universal/styles-compressed/image-zoom-ae974921915aeccaff8ad60c60e19c31-min.css","js":"//static.squarespace.com/universal/scripts-compressed/image-zoom-648ac19a3fc4fb055817-min.js"},"squarespace-pinterest":{"css":"//static.squarespace.com/universal/styles-compressed/pinterest-d41d8cd98f00b204e9800998ecf8427e-min.css","js":"//static.squarespace.com/universal/scripts-compressed/pinterest-9d39ec673c140c1354cd-min.js"},"squarespace-product-quick-view":{"css":"//static.squarespace.com/universal/styles-compressed/product-quick-view-eb4b900ac0155bed2f175aa82e2a7c17-min.css","js":"//static.squarespace.com/universal/scripts-compressed/product-quick-view-6d884a07a6116a5107cf-min.js"},"squarespace-products-collection-item-v2":{"css":"//static.squarespace.com/universal/styles-compressed/products-collection-item-v2-ae974921915aeccaff8ad60c60e19c31-min.css","js":"//static.squarespace.com/universal/scripts-compressed/products-collection-item-v2-a68979ca78275dd1b40f-min.js"},"squarespace-products-collection-list-v2":{"css":"//static.squarespace.com/universal/styles-compressed/products-collection-list-v2-ae974921915aeccaff8ad60c60e19c31-min.css","js":"//static.squarespace.com/universal/scripts-compressed/products-collection-list-v2-a2aa1e327a4809c9cb32-min.js"},"squarespace-search-page":{"css":"//static.squarespace.com/universal/styles-compressed/search-page-9e3daa07ec7490c2f0be98a39351cb63-min.css","js":"//static.squarespace.com/universal/scripts-compressed/search-page-7f1370feeabad71d4143-min.js"},"squarespace-share-buttons":{"js":"//static.squarespace.com/universal/scripts-compressed/share-buttons-ead75f85fa52ac3c0039-min.js"},"squarespace-simple-liking":{"css":"//static.squarespace.com/universal/styles-compressed/simple-liking-09fa291ec2800c97714f0d157fd0a6ca-min.css","js":"//static.squarespace.com/universal/scripts-compressed/simple-liking-6bb0495d9e044f38dc47-min.js"},"squarespace-social-buttons":{"css":"//static.squarespace.com/universal/styles-compressed/social-buttons-7a696232d1cd101fd62b5f174f9ae6ff-min.css","js":"//static.squarespace.com/universal/scripts-compressed/social-buttons-cec4ba0f1b5e17dbcfa9-min.js"},"squarespace-tourdates":{"css":"//static.squarespace.com/universal/styles-compressed/tourdates-d41d8cd98f00b204e9800998ecf8427e-min.css","js":"//static.squarespace.com/universal/scripts-compressed/tourdates-0e88b9707caffdc4f61f-min.js"}},"pageType":2,"website":{"id":"504a9746e4b0a7ecb415e46d","identifier":"beeboldapiaries","websiteType":1,"contentModifiedOn":1453230598735,"cloneable":false,"siteStatus":{},"language":"en-US","timeZone":"America/New_York","machineTimeZoneOffset":-18000000,"timeZoneOffset":-18000000,"timeZoneAbbr":"EST","siteTitle":"Bee Bold Apiaries","siteDescription":"<p>Proprietary Honey,<br /><em>Without the Sting!</em></p>","location":{"mapZoom":14.0,"mapLat":40.7947466,"mapLng":-74.26488289999998,"markerLat":40.7947466,"markerLng":-74.26488289999998,"addressTitle":"Bee Bold Apiaries","addressLine1":"","addressLine2":"New Jersey","addressCountry":"Essex County"},"logoImageId":"539f2977e4b07ded532b5d2d","shareButtonOptions":{"2":true},"logoImageUrl":"//static1.squarespace.com/static/504a9746e4b0a7ecb415e46d/t/539f2977e4b07ded532b5d2d/1453230598735/","authenticUrl":"http://beeboldapiaries.com","internalUrl":"http://beeboldapiaries.squarespace.com","baseUrl":"http://beeboldapiaries.com","primaryDomain":"beeboldapiaries.com","socialAccounts":[{"serviceId":2,"userId":"1065324076","userName":"eric.hanan.9","screenname":"Eric Hanan","addedOn":1398882983646,"profileUrl":"https://www.facebook.com/HoneyBeesfromBeeBoldApiaries","iconUrl":"http://graph.facebook.com/1065324076/picture?type=square","metaData":{"service":"facebook"},"iconEnabled":true,"serviceName":"facebook"}],"typekitId":"","statsMigrated":true},"websiteSettings":{"id":"504a9746e4b0a7ecb415e46e","websiteId":"504a9746e4b0a7ecb415e46d","type":"Business","subject":"Other","subjects":[{"systemSubject":"health"},{"systemSubject":"food"},{"systemSubject":"other","otherSubject":"bee, bees, honey, honeybee, apiaries, local, apiary, green, sustainable, allergy remedy, install colonies, honey bee colony, harvest, organic,   agriculture, install"}],"country":"US","state":"AL","markdownMode":false,"simpleLikingEnabled":true,"lastAgreedTermsOfService":2,"defaultPostFormat":"%y/%m/%d/%t","commentLikesAllowed":true,"commentAnonAllowed":true,"commentThreaded":true,"commentApprovalRequired":false,"commentAvatarsOn":true,"commentSortType":2,"commentFlagThreshold":0,"commentFlagsAllowed":true,"commentEnableByDefault":true,"commentDisableAfterDaysDefault":0,"disqusShortname":"","homepageTitleFormat":"%s","collectionTitleFormat":"%c \u2014 %s","itemTitleFormat":"%i \u2014 %s","commentsEnabled":true,"contactEmail":"eric@beeboldapiaries.com","allowSquarespacePromotion":true,"storeSettings":{"returnPolicy":null,"termsOfService":null,"privacyPolicy":null,"paymentSettings":{},"expressCheckout":false,"useLightCart":false,"showNoteField":false,"shippingCountryDefaultValue":"US","billToShippingDefaultValue":false,"showShippingPhoneNumber":true,"isShippingPhoneRequired":false,"showBillingPhoneNumber":true,"isBillingPhoneRequired":false,"currenciesSupported":["USD"],"defaultCurrency":"USD","selectedCurrency":"USD","measurementStandard":1,"showCustomCheckoutForm":false,"enableMailingListOptInByDefault":false,"sameAsRetailLocation":false,"stripeConnected":false,"isLive":true},"useEscapeKeyToLogin":true,"ssBadgeType":1,"ssBadgePosition":4,"ssBadgeVisibility":1,"ssBadgeDevices":1,"pinterestOverlayOptions":{"mode":"enabled_for_blogs_and_pages","size":"small","shape":"rect","color":"white"},"ampEnabled":false},"websiteCloneable":false,"collection":{"title":"Home","id":"504a9746e4b0a7ecb415e473","fullUrl":"/","publicCommentCount":0,"type":10},"subscribed":false,"appDomain":"squarespace.com","templateTweakable":true,"tweakJSON":{"aspect-ratio":"Auto","gallery-arrow-style":"Round Corners","gallery-aspect-ratio":"3:2 Standard","gallery-auto-crop":"true","gallery-autoplay":"false","gallery-design":"Slideshow","gallery-info-overlay":"Always Show","gallery-loop":"false","gallery-navigation":"Thumbnails","gallery-show-arrows":"true","gallery-transitions":"Fade","galleryArrowBackground":"rgba(34,34,34,1)","galleryArrowColor":"rgba(255,255,255,1)","galleryAutoplaySpeed":"3","galleryCircleColor":"rgba(255,255,255,1)","galleryInfoBackground":"rgba(0, 0, 0, .7)","galleryThumbnailSize":"220px","gridSize":"350px","gridSpacing":"20px","product-gallery-auto-crop":"true","product-image-auto-crop":"true"},"templateId":"4f84457724acf88285416908","pageFeatures":[1,2,4],"impersonatedSession":false,"isFacebookTab":false,"tzData":{"zones":[[-300,"US","E%sT",null]],"rules":{"US":[[1967,2006,null,"Oct","lastSun","2:00","0","S"],[1987,2006,null,"Apr","Sun>=1","2:00","1:00","D"],[2007,"max",null,"Mar","Sun>=8","2:00","1:00","D"],[2007,"max",null,"Nov","Sun>=1","2:00","0","S"]]}}};</script><script type="text/javascript"> SquarespaceFonts.loadViaContext(); Squarespace.load(window);</script><script type="application/ld+json">{"@context":"http://schema.org","@type":"WebSite","url":"http://beeboldapiaries.com","name":"Bee Bold Apiaries","description":"<p>Proprietary Honey,<br /><em>Without the Sting!</em></p>","image":"//static1.squarespace.com/static/504a9746e4b0a7ecb415e46d/t/539f2977e4b07ded532b5d2d/1453230598735/"}</script><!--[if gte IE 9]> <link rel="stylesheet" type="text/css" href="//static1.squarespace.com/static/sitecss/504a9746e4b0a7ecb415e46d/287/4f84457724acf88285416908/505b3764e4b0cc7a6a47d117/3114-05142015/1453228674562/site.css?&filterFeatures=false&part=1"/><link rel="stylesheet" type="text/css" href="//static1.squarespace.com/static/sitecss/504a9746e4b0a7ecb415e46d/287/4f84457724acf88285416908/505b3764e4b0cc7a6a47d117/3114-05142015/1453228674562/site.css?&filterFeatures=false&part=2"/><link rel="stylesheet" type="text/css" href="//static1.squarespace.com/static/sitecss/504a9746e4b0a7ecb415e46d/287/4f84457724acf88285416908/505b3764e4b0cc7a6a47d117/3114-05142015/1453228674562/site.css?&filterFeatures=false&part=3"/><link rel="stylesheet" type="text/css" href="//static1.squarespace.com/static/sitecss/504a9746e4b0a7ecb415e46d/287/4f84457724acf88285416908/505b3764e4b0cc7a6a47d117/3114-05142015/1453228674562/site.css?&filterFeatures=false&part=4"/><![endif]-->
<!--[if lt IE 9]><link rel="stylesheet" type="text/css" href="//static1.squarespace.com/static/sitecss/504a9746e4b0a7ecb415e46d/287/4f84457724acf88285416908/505b3764e4b0cc7a6a47d117/3114-05142015/1453228674562/site.css?&filterFeatures=false&noMedia=true&part=1"/><link rel="stylesheet" type="text/css" href="//static1.squarespace.com/static/sitecss/504a9746e4b0a7ecb415e46d/287/4f84457724acf88285416908/505b3764e4b0cc7a6a47d117/3114-05142015/1453228674562/site.css?&filterFeatures=false&noMedia=true&part=2"/><link rel="stylesheet" type="text/css" href="//static1.squarespace.com/static/sitecss/504a9746e4b0a7ecb415e46d/287/4f84457724acf88285416908/505b3764e4b0cc7a6a47d117/3114-05142015/1453228674562/site.css?&filterFeatures=false&noMedia=true&part=3"/><link rel="stylesheet" type="text/css" href="//static1.squarespace.com/static/sitecss/504a9746e4b0a7ecb415e46d/287/4f84457724acf88285416908/505b3764e4b0cc7a6a47d117/3114-05142015/1453228674562/site.css?&filterFeatures=false&noMedia=true&part=4"/><![endif]-->
<!--[if !IE]> --><link rel="stylesheet" type="text/css" href="//static1.squarespace.com/static/sitecss/504a9746e4b0a7ecb415e46d/287/4f84457724acf88285416908/505b3764e4b0cc7a6a47d117/3114-05142015/1453228674562/site.css?&filterFeatures=false"/><!-- <![endif]-->
<!-- End of Squarespace Headers -->

  <script type="text/javascript" src="https://static1.squarespace.com/static/ta/4f835d8824ac546d1ea35cd2/3114/scripts/combo/?site.js"></script>

</head>

<body id="collection-504a9746e4b0a7ecb415e473" class="site-title-position-sidebar header-position-float social-icons-match-trademarks navigation-position-sidebar sidebar-position-left  display-comments-in-wrapper display-icons-in-post-footer  promoted-blocks-blog-list promoted-blocks-blog-post gallery-design-slideshow aspect-ratio-auto lightbox-style-dark gallery-navigation-thumbnails gallery-info-overlay-always-show gallery-aspect-ratio-32-standard gallery-arrow-style-round-corners gallery-transitions-fade gallery-show-arrows gallery-auto-crop   product-list-titles-under product-list-alignment-center product-item-size-11-square product-image-auto-crop product-gallery-size-11-square product-gallery-auto-crop show-product-price show-product-item-nav product-social-sharing   event-thumbnails event-thumbnail-size-32-standard event-date-label event-date-label-time event-list-show-cats event-list-date event-list-time event-list-address   event-icalgcal-links  event-excerpts  event-item-back-link      opentable-style-light newsletter-style-dark small-button-style-solid small-button-shape-square medium-button-style-solid medium-button-shape-square large-button-style-solid large-button-shape-square button-style-default button-corner-style-square tweak-product-quick-view-button-style-floating tweak-product-quick-view-button-position-bottom tweak-product-quick-view-lightbox-excerpt-display-truncate tweak-product-quick-view-lightbox-show-arrows tweak-product-quick-view-lightbox-show-close-button tweak-product-quick-view-lightbox-controls-weight-light native-currency-code-usd collection-504a9746e4b0a7ecb415e473 collection-type-page collection-layout-default homepage mobile-style-available">


<input id="mobile-navigation-toggle" type="checkbox" name="checkbox" class="mobile" />
<label id="mobile-navigation-label" for="mobile-navigation-toggle" class="mobile"></label>

<nav id="mobile-navigation" class="mobile mobile-nav">

  <ul class="wrapper">





        <li class="page-collection active">
          <a href="/">
            Home
          </a>
        </li>











        <li class="page-collection">
          <a href="/about/">
            Services
          </a>
        </li>











        <li class="page-collection">
          <a href="/faq/">
            FAQ
          </a>
        </li>











        <li class="page-collection">
          <a href="/contact-us/">
            About
          </a>
        </li>











        <li class="page-collection">
          <a href="/clients/">
            Clients
          </a>
        </li>











        <li class="gallery-collection">
          <a href="/the-honey/">
            The Honey
          </a>
        </li>











        <li class="page-collection">
          <a href="/press/">
            Press
          </a>
        </li>











        <li class="page-collection">
          <a href="/honeybee-facts/">
            Honeybee Facts
          </a>
        </li>











        <li class="page-collection">
          <a href="/contact/">
            Contact
          </a>
        </li>







  </ul>

</nav>


  <header id="header" class="logo-image">
    <div class="wrapper clear">


      <div class="header-logo logo" data-content-field="site-title">
        <h1>
          <a href="/">
            <img src="//static1.squarespace.com/static/504a9746e4b0a7ecb415e46d/t/539f2977e4b07ded532b5d2d/1453230598735/?format=1500w" alt="Bee Bold Apiaries" />
            <span class="site-title-span">Bee Bold Apiaries</span>
          </a>
        </h1>
      </div>



<nav class="nav header-nav">

  <ul class="wrapper clear">





        <li class="page-collection active">
          <a href="/">
            Home
          </a>
        </li>











        <li class="page-collection">
          <a href="/about/">
            Services
          </a>
        </li>











        <li class="page-collection">
          <a href="/faq/">
            FAQ
          </a>
        </li>











        <li class="page-collection">
          <a href="/contact-us/">
            About
          </a>
        </li>











        <li class="page-collection">
          <a href="/clients/">
            Clients
          </a>
        </li>











        <li class="gallery-collection">
          <a href="/the-honey/">
            The Honey
          </a>
        </li>











        <li class="page-collection">
          <a href="/press/">
            Press
          </a>
        </li>











        <li class="page-collection">
          <a href="/honeybee-facts/">
            Honeybee Facts
          </a>
        </li>











        <li class="page-collection">
          <a href="/contact/">
            Contact
          </a>
        </li>







  </ul>

</nav>


    </div>
  </header>

  <div id="site">
    <div class="wrapper clear">

      <section id="content" role="main">
        <div class="sqs-layout sqs-grid-12 columns-12" data-type="page" data-updated-on="1453230205249" id="page-504a9746e4b0a7ecb415e473"><div class="row sqs-row"><div class="col sqs-col-12 span-12"><div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-db47e61d4983cfc2718d"><div class="sqs-block-content"><h1 class="text-align-center">Enjoy Local Honey Harvested from your own Beehives!&nbsp;</h1><h2 class="text-align-center">We install and maintain Honey Beehives for anyone who wants to contribute to agricultural sustainability and produce their own unique,&nbsp;delicious, hyper-local honey! &nbsp;</h2><h3><strong>We do all the work... &nbsp;Press play to learn more.</strong></h3></div></div><div class="sqs-block video-block sqs-block-video" data-block-json="&#123;&quot;layout&quot;:&quot;caption-hidden&quot;,&quot;overlay&quot;:true,&quot;description&quot;:&quot;&quot;,&quot;customThumb&quot;:&quot;509c117fe4b011ec832ada70&quot;,&quot;html&quot;:&quot;&lt;iframe src=\&quot;https://player.vimeo.com/video/54956056?wmode=opaque&amp;amp;api=1\&quot; width=\&quot;1280\&quot; height=\&quot;720\&quot; frameborder=\&quot;0\&quot; webkitallowfullscreen=\&quot;\&quot; mozallowfullscreen=\&quot;\&quot; allowfullscreen=\&quot;\&quot;&gt;&lt;/iframe&gt;&quot;,&quot;url&quot;:&quot;https://vimeo.com/54956056&quot;,&quot;width&quot;:1280,&quot;height&quot;:720,&quot;providerName&quot;:&quot;Vimeo&quot;,&quot;thumbnailUrl&quot;:&quot;https://secure-b.vimeocdn.com/ts/380/208/380208879_1280.jpg&quot;&#125;" data-block-type="32" id="block-ef24f3e2f5f5a347b29e"><div class="sqs-block-content"><div class="intrinsic" style="max-width:100%"><div class="embed-block-wrapper" style="padding-bottom:56.25%;"><div class="sqs-video-wrapper" data-html="&lt;iframe src=&quot;https://player.vimeo.com/video/54956056?wmode=opaque&amp;api=1&quot; width=&quot;1280&quot; height=&quot;720&quot; frameborder=&quot;0&quot; webkitallowfullscreen=&quot;&quot; mozallowfullscreen=&quot;&quot; allowfullscreen=&quot;&quot;&gt;&lt;/iframe&gt;" data-provider-name="Vimeo"><div class="sqs-video-overlay" style="opacity: 0;"><img data-src="https://static1.squarespace.com/static/504a9746e4b0a7ecb415e46d/t/509c117fe4b011ec832ada70/1429733189233/Joseph+broochure.jpg" data-load="false" data-image-focal-point="0.5,0.5" /><div class="sqs-video-opaque"></div><div class="sqs-video-icon"></div></div></div></div></div></div></div><div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-3f55706d04d1286df1bf"><div class="sqs-block-content"><p class="text-align-left">-Transform any property including rooftop real estate into a safe and sustainable environment for honey bees.</p><p>-Reap the rewards of exquisite home grown honey!</p><p>-Help the plight of the honey bee and enhance your community's gardens, foliage, and trees!&nbsp;</p></div></div><div class="sqs-block gallery-block sqs-block-gallery" data-block-json="&#123;&quot;methodOption&quot;:&quot;transient&quot;,&quot;existingGallery&quot;:null,&quot;design&quot;:&quot;slideshow&quot;,&quot;aspectRatio&quot;:null,&quot;autoplay&quot;:true,&quot;autoplay-duration&quot;:2,&quot;controls&quot;:false,&quot;auto-crop&quot;:true,&quot;square-thumbs&quot;:false,&quot;thumbnails&quot;:false,&quot;thumbnail-strip-height&quot;:61,&quot;thumbnail-strip-margin&quot;:20,&quot;show-meta&quot;:true,&quot;meta-position&quot;:&quot;bottom&quot;,&quot;show-meta-on-hover&quot;:true,&quot;active-alignment&quot;:&quot;center&quot;,&quot;thumbnails-per-row&quot;:4,&quot;padding&quot;:20,&quot;lightbox&quot;:false,&quot;max-width&quot;:300,&quot;collectionId&quot;:&quot;5060a38de4b0a01995639e5c&quot;,&quot;vSize&quot;:null,&quot;transientGalleryId&quot;:&quot;5060a38de4b0a01995639e5c&quot;&#125;" data-block-type="8" id="block-3d8a4639643f4c33b523"><div class="sqs-block-content">








<div class="
  sqs-gallery-container
  sqs-gallery-block-slideshow






    sqs-gallery-block-show-meta sqs-gallery-block-meta-position-bottom
    sqs-gallery-block-meta-hover








  clear"


>
  <div class="sqs-gallery">





            <div class="slide content-fill" data-type="image" data-click-through-url="">

                <noscript><img src="https://static1.squarespace.com/static/504a9746e4b0a7ecb415e46d/5060a38de4b0a01995639e5c/5060a3fae4b0c88c359c7895/1429733149271/Joseph+Lelinho20100914_1087.JPG"  alt="Joseph Lelinho20100914_1087.JPG"  /></noscript><img class="thumb-image" alt="Joseph Lelinho20100914_1087.JPG" data-src="https://static1.squarespace.com/static/504a9746e4b0a7ecb415e46d/5060a38de4b0a01995639e5c/5060a3fae4b0c88c359c7895/1429733149271/Joseph+Lelinho20100914_1087.JPG" data-image="https://static1.squarespace.com/static/504a9746e4b0a7ecb415e46d/5060a38de4b0a01995639e5c/5060a3fae4b0c88c359c7895/1429733149271/Joseph+Lelinho20100914_1087.JPG" data-image-dimensions="2500x1664" data-image-focal-point="0.5,0.5" data-load="false" data-image-id="5060a3fae4b0c88c359c7895" data-type="image" />





              <div class="color-overlay"></div>
            </div>












            <div class="slide content-fill" data-type="image" data-click-through-url="">

                <noscript><img src="https://static1.squarespace.com/static/504a9746e4b0a7ecb415e46d/5060a38de4b0a01995639e5c/527c03a8e4b04cfae17d5fe7/1383859113755/_EWR5057.jpg"  alt="_EWR5057.jpg"  /></noscript><img class="thumb-image" alt="_EWR5057.jpg" data-src="https://static1.squarespace.com/static/504a9746e4b0a7ecb415e46d/5060a38de4b0a01995639e5c/527c03a8e4b04cfae17d5fe7/1383859113755/_EWR5057.jpg" data-image="https://static1.squarespace.com/static/504a9746e4b0a7ecb415e46d/5060a38de4b0a01995639e5c/527c03a8e4b04cfae17d5fe7/1383859113755/_EWR5057.jpg" data-image-dimensions="529x600" data-image-focal-point="0.5,0.5" data-load="false" data-image-id="527c03a8e4b04cfae17d5fe7" data-type="image" />





              <div class="color-overlay"></div>
            </div>












            <div class="slide content-fill" data-type="image" data-click-through-url="">

                <noscript><img src="https://static1.squarespace.com/static/504a9746e4b0a7ecb415e46d/5060a38de4b0a01995639e5c/5060a3d6e4b0a01995639eca/1429733137991/Joseph+Lelinho20100914_1103.JPG"  alt="Joseph Lelinho20100914_1103.JPG"  /></noscript><img class="thumb-image" alt="Joseph Lelinho20100914_1103.JPG" data-src="https://static1.squarespace.com/static/504a9746e4b0a7ecb415e46d/5060a38de4b0a01995639e5c/5060a3d6e4b0a01995639eca/1429733137991/Joseph+Lelinho20100914_1103.JPG" data-image="https://static1.squarespace.com/static/504a9746e4b0a7ecb415e46d/5060a38de4b0a01995639e5c/5060a3d6e4b0a01995639eca/1429733137991/Joseph+Lelinho20100914_1103.JPG" data-image-dimensions="2500x1664" data-image-focal-point="0.5,0.5" data-load="false" data-image-id="5060a3d6e4b0a01995639eca" data-type="image" />





              <div class="color-overlay"></div>
            </div>












            <div class="slide content-fill" data-type="image" data-click-through-url="">

                <noscript><img src="https://static1.squarespace.com/static/504a9746e4b0a7ecb415e46d/5060a38de4b0a01995639e5c/527c0387e4b01251d8cdc725/1383859083416/Christina+at+LeSalbuen+.jpg"  alt="Christina at LeSalbuen .jpg"  /></noscript><img class="thumb-image" alt="Christina at LeSalbuen .jpg" data-src="https://static1.squarespace.com/static/504a9746e4b0a7ecb415e46d/5060a38de4b0a01995639e5c/527c0387e4b01251d8cdc725/1383859083416/Christina+at+LeSalbuen+.jpg" data-image="https://static1.squarespace.com/static/504a9746e4b0a7ecb415e46d/5060a38de4b0a01995639e5c/527c0387e4b01251d8cdc725/1383859083416/Christina+at+LeSalbuen+.jpg" data-image-dimensions="2048x1365" data-image-focal-point="0.5,0.5" data-load="false" data-image-id="527c0387e4b01251d8cdc725" data-type="image" />





              <div class="color-overlay"></div>
            </div>












            <div class="slide content-fill" data-type="image" data-click-through-url="">

                <noscript><img src="https://static1.squarespace.com/static/504a9746e4b0a7ecb415e46d/5060a38de4b0a01995639e5c/52431e67e4b09f996d339835/1380130410059/_EWR5043.jpg"  alt="_EWR5043.jpg"  /></noscript><img class="thumb-image" alt="_EWR5043.jpg" data-src="https://static1.squarespace.com/static/504a9746e4b0a7ecb415e46d/5060a38de4b0a01995639e5c/52431e67e4b09f996d339835/1380130410059/_EWR5043.jpg" data-image="https://static1.squarespace.com/static/504a9746e4b0a7ecb415e46d/5060a38de4b0a01995639e5c/52431e67e4b09f996d339835/1380130410059/_EWR5043.jpg" data-image-dimensions="800x531" data-image-focal-point="0.5,0.5" data-load="false" data-image-id="52431e67e4b09f996d339835" data-type="image" />





              <div class="color-overlay"></div>
            </div>












            <div class="slide content-fill" data-type="image" data-click-through-url="">

                <noscript><img src="https://static1.squarespace.com/static/504a9746e4b0a7ecb415e46d/5060a38de4b0a01995639e5c/52431eace4b0ae90650abbfe/1380130479667/_EWR5102.jpg"  alt="_EWR5102.jpg"  /></noscript><img class="thumb-image" alt="_EWR5102.jpg" data-src="https://static1.squarespace.com/static/504a9746e4b0a7ecb415e46d/5060a38de4b0a01995639e5c/52431eace4b0ae90650abbfe/1380130479667/_EWR5102.jpg" data-image="https://static1.squarespace.com/static/504a9746e4b0a7ecb415e46d/5060a38de4b0a01995639e5c/52431eace4b0ae90650abbfe/1380130479667/_EWR5102.jpg" data-image-dimensions="800x531" data-image-focal-point="0.5,0.5" data-load="false" data-image-id="52431eace4b0ae90650abbfe" data-type="image" />





              <div class="color-overlay"></div>
            </div>























            <div class="slide content-fill" data-type="image" data-click-through-url="">

                <noscript><img src="https://static1.squarespace.com/static/504a9746e4b0a7ecb415e46d/5060a38de4b0a01995639e5c/507c56a0e4b0cbc7475599b2/1350325920340/too+many+mouths+to+feed.jpg"  alt="too many mouths to feed.jpg"  /></noscript><img class="thumb-image" alt="too many mouths to feed.jpg" data-src="https://static1.squarespace.com/static/504a9746e4b0a7ecb415e46d/5060a38de4b0a01995639e5c/507c56a0e4b0cbc7475599b2/1350325920340/too+many+mouths+to+feed.jpg" data-image="https://static1.squarespace.com/static/504a9746e4b0a7ecb415e46d/5060a38de4b0a01995639e5c/507c56a0e4b0cbc7475599b2/1350325920340/too+many+mouths+to+feed.jpg" data-image-dimensions="1075x1038" data-image-focal-point="0.5,0.5" data-load="false" data-image-id="507c56a0e4b0cbc7475599b2" data-type="image" />





              <div class="color-overlay"></div>
            </div>












            <div class="slide content-fill" data-type="image" data-click-through-url="">

                <noscript><img src="https://static1.squarespace.com/static/504a9746e4b0a7ecb415e46d/5060a38de4b0a01995639e5c/507c5705e4b0cbc747559afd/1429733168014/IMG_0191.JPG"  alt="IMG_0191.JPG"  /></noscript><img class="thumb-image" alt="IMG_0191.JPG" data-src="https://static1.squarespace.com/static/504a9746e4b0a7ecb415e46d/5060a38de4b0a01995639e5c/507c5705e4b0cbc747559afd/1429733168014/IMG_0191.JPG" data-image="https://static1.squarespace.com/static/504a9746e4b0a7ecb415e46d/5060a38de4b0a01995639e5c/507c5705e4b0cbc747559afd/1429733168014/IMG_0191.JPG" data-image-dimensions="2500x1875" data-image-focal-point="0.5,0.5" data-load="false" data-image-id="507c5705e4b0cbc747559afd" data-type="image" />





              <div class="color-overlay"></div>
            </div>












            <div class="slide content-fill" data-type="image" data-click-through-url="">

                <noscript><img src="https://static1.squarespace.com/static/504a9746e4b0a7ecb415e46d/5060a38de4b0a01995639e5c/5089ad95e4b012753ffea041/1351200149982/IMG_0713+-+Version+2.jpg"  alt="IMG_0713 - Version 2.jpg"  /></noscript><img class="thumb-image" alt="IMG_0713 - Version 2.jpg" data-src="https://static1.squarespace.com/static/504a9746e4b0a7ecb415e46d/5060a38de4b0a01995639e5c/5089ad95e4b012753ffea041/1351200149982/IMG_0713+-+Version+2.jpg" data-image="https://static1.squarespace.com/static/504a9746e4b0a7ecb415e46d/5060a38de4b0a01995639e5c/5089ad95e4b012753ffea041/1351200149982/IMG_0713+-+Version+2.jpg" data-image-dimensions="1632x2172" data-image-focal-point="0.52,0.42" data-load="false" data-image-id="5089ad95e4b012753ffea041" data-type="image" />





              <div class="color-overlay"></div>
            </div>












            <div class="slide content-fill" data-type="image" data-click-through-url="">

                <noscript><img src="https://static1.squarespace.com/static/504a9746e4b0a7ecb415e46d/5060a38de4b0a01995639e5c/52431e4de4b0d4245d8cc281/1380130383778/_EWR4955.jpg"  alt="_EWR4955.jpg"  /></noscript><img class="thumb-image" alt="_EWR4955.jpg" data-src="https://static1.squarespace.com/static/504a9746e4b0a7ecb415e46d/5060a38de4b0a01995639e5c/52431e4de4b0d4245d8cc281/1380130383778/_EWR4955.jpg" data-image="https://static1.squarespace.com/static/504a9746e4b0a7ecb415e46d/5060a38de4b0a01995639e5c/52431e4de4b0d4245d8cc281/1380130383778/_EWR4955.jpg" data-image-dimensions="800x531" data-image-focal-point="0.5,0.5" data-load="false" data-image-id="52431e4de4b0d4245d8cc281" data-type="image" />





              <div class="color-overlay"></div>
            </div>












            <div class="slide content-fill" data-type="image" data-click-through-url="">

                <noscript><img src="https://static1.squarespace.com/static/504a9746e4b0a7ecb415e46d/5060a38de4b0a01995639e5c/52431f8ae4b08f41c1faa8c3/1380130700294/_EWR5039.jpg"  alt="_EWR5039.jpg"  /></noscript><img class="thumb-image" alt="_EWR5039.jpg" data-src="https://static1.squarespace.com/static/504a9746e4b0a7ecb415e46d/5060a38de4b0a01995639e5c/52431f8ae4b08f41c1faa8c3/1380130700294/_EWR5039.jpg" data-image="https://static1.squarespace.com/static/504a9746e4b0a7ecb415e46d/5060a38de4b0a01995639e5c/52431f8ae4b08f41c1faa8c3/1380130700294/_EWR5039.jpg" data-image-dimensions="800x531" data-image-focal-point="0.5242718446601942,0.5373134328358209" data-load="false" data-image-id="52431f8ae4b08f41c1faa8c3" data-type="image" />





              <div class="color-overlay"></div>
            </div>












            <div class="slide content-fill" data-type="image" data-click-through-url="">

                <noscript><img src="https://static1.squarespace.com/static/504a9746e4b0a7ecb415e46d/5060a38de4b0a01995639e5c/52431e5fe4b090a525524371/1380130400584/_EWR5011.jpg"  alt="_EWR5011.jpg"  /></noscript><img class="thumb-image" alt="_EWR5011.jpg" data-src="https://static1.squarespace.com/static/504a9746e4b0a7ecb415e46d/5060a38de4b0a01995639e5c/52431e5fe4b090a525524371/1380130400584/_EWR5011.jpg" data-image="https://static1.squarespace.com/static/504a9746e4b0a7ecb415e46d/5060a38de4b0a01995639e5c/52431e5fe4b090a525524371/1380130400584/_EWR5011.jpg" data-image-dimensions="452x600" data-image-focal-point="0.5,0.5" data-load="false" data-image-id="52431e5fe4b090a525524371" data-type="image" />





              <div class="color-overlay"></div>
            </div>












            <div class="slide content-fill" data-type="image" data-click-through-url="">

                <noscript><img src="https://static1.squarespace.com/static/504a9746e4b0a7ecb415e46d/5060a38de4b0a01995639e5c/52431e95e4b0f27af432a4ee/1380130454275/_EWR5092.jpg"  alt="_EWR5092.jpg"  /></noscript><img class="thumb-image" alt="_EWR5092.jpg" data-src="https://static1.squarespace.com/static/504a9746e4b0a7ecb415e46d/5060a38de4b0a01995639e5c/52431e95e4b0f27af432a4ee/1380130454275/_EWR5092.jpg" data-image="https://static1.squarespace.com/static/504a9746e4b0a7ecb415e46d/5060a38de4b0a01995639e5c/52431e95e4b0f27af432a4ee/1380130454275/_EWR5092.jpg" data-image-dimensions="399x600" data-image-focal-point="0.5,0.5" data-load="false" data-image-id="52431e95e4b0f27af432a4ee" data-type="image" />





              <div class="color-overlay"></div>
            </div>












            <div class="slide content-fill" data-type="image" data-click-through-url="">

                <noscript><img src="https://static1.squarespace.com/static/504a9746e4b0a7ecb415e46d/5060a38de4b0a01995639e5c/52431e98e4b0ae90650abbc9/1380130460112/_EWR5095.jpg"  alt="_EWR5095.jpg"  /></noscript><img class="thumb-image" alt="_EWR5095.jpg" data-src="https://static1.squarespace.com/static/504a9746e4b0a7ecb415e46d/5060a38de4b0a01995639e5c/52431e98e4b0ae90650abbc9/1380130460112/_EWR5095.jpg" data-image="https://static1.squarespace.com/static/504a9746e4b0a7ecb415e46d/5060a38de4b0a01995639e5c/52431e98e4b0ae90650abbc9/1380130460112/_EWR5095.jpg" data-image-dimensions="534x600" data-image-focal-point="0.32967032967032966,0.3883495145631068" data-load="false" data-image-id="52431e98e4b0ae90650abbc9" data-type="image" />





              <div class="color-overlay"></div>
            </div>












            <div class="slide content-fill" data-type="image" data-click-through-url="">

                <noscript><img src="https://static1.squarespace.com/static/504a9746e4b0a7ecb415e46d/5060a38de4b0a01995639e5c/52431f5fe4b090a525524669/1380130656923/_EWR5060.jpg"  alt="_EWR5060.jpg"  /></noscript><img class="thumb-image" alt="_EWR5060.jpg" data-src="https://static1.squarespace.com/static/504a9746e4b0a7ecb415e46d/5060a38de4b0a01995639e5c/52431f5fe4b090a525524669/1380130656923/_EWR5060.jpg" data-image="https://static1.squarespace.com/static/504a9746e4b0a7ecb415e46d/5060a38de4b0a01995639e5c/52431f5fe4b090a525524669/1380130656923/_EWR5060.jpg" data-image-dimensions="688x600" data-image-focal-point="0.5,0.5" data-load="false" data-image-id="52431f5fe4b090a525524669" data-type="image" />





              <div class="color-overlay"></div>
            </div>












            <div class="slide content-fill" data-type="image" data-click-through-url="">

                <noscript><img src="https://static1.squarespace.com/static/504a9746e4b0a7ecb415e46d/5060a38de4b0a01995639e5c/507c56b384aebdfe2466a2ba/1350325939593/DSC00503.JPG"  alt="DSC00503.JPG"  /></noscript><img class="thumb-image" alt="DSC00503.JPG" data-src="https://static1.squarespace.com/static/504a9746e4b0a7ecb415e46d/5060a38de4b0a01995639e5c/507c56b384aebdfe2466a2ba/1350325939593/DSC00503.JPG" data-image="https://static1.squarespace.com/static/504a9746e4b0a7ecb415e46d/5060a38de4b0a01995639e5c/507c56b384aebdfe2466a2ba/1350325939593/DSC00503.JPG" data-image-dimensions="1920x1080" data-image-focal-point="0.5,0.5" data-load="false" data-image-id="507c56b384aebdfe2466a2ba" data-type="image" />





              <div class="color-overlay"></div>
            </div>












            <div class="slide content-fill" data-type="image" data-click-through-url="">

                <noscript><img src="https://static1.squarespace.com/static/504a9746e4b0a7ecb415e46d/5060a38de4b0a01995639e5c/5060a406e4b0cc5696df2d8e/1348510726082/Bee%2C+weekend+at+Gordon+softball+pictures+010.jpg"  alt="Bee, weekend at Gordon softball pictures 010.jpg"  /></noscript><img class="thumb-image" alt="Bee, weekend at Gordon softball pictures 010.jpg" data-src="https://static1.squarespace.com/static/504a9746e4b0a7ecb415e46d/5060a38de4b0a01995639e5c/5060a406e4b0cc5696df2d8e/1348510726082/Bee%2C+weekend+at+Gordon+softball+pictures+010.jpg" data-image="https://static1.squarespace.com/static/504a9746e4b0a7ecb415e46d/5060a38de4b0a01995639e5c/5060a406e4b0cc5696df2d8e/1348510726082/Bee%2C+weekend+at+Gordon+softball+pictures+010.jpg" data-image-dimensions="1299x1113" data-image-focal-point="0.51,0.5176470588235295" data-load="false" data-image-id="5060a406e4b0cc5696df2d8e" data-type="image" />





              <div class="color-overlay"></div>
            </div>










  </div>



</div>





</div></div><div class="sqs-block horizontalrule-block sqs-block-horizontalrule" data-block-type="47" id="block-901e998cdef52ff07fe6"><div class="sqs-block-content"><hr /></div></div><div class="sqs-block quote-block sqs-block-quote" data-block-type="31" id="block-9811169a18dd4a6e49fd"><div class="sqs-block-content"><figure>
  <blockquote>
    <span>&#147;</span>With this pollination project, we hope to make a make a difference in the lives we touch every day<span>&#148;</span>
  </blockquote>
  <figcaption class="source">&mdash; Hyatt Regency Jersey City Executive Chef, Cathy Kearney</figcaption>
</figure></div></div><div class="sqs-block quote-block sqs-block-quote" data-block-type="31" id="block-ca05b4a80394917b9be8"><div class="sqs-block-content"><figure>
  <blockquote>
    <span>&#147;</span>Having beehives in an urban setting, such as on the roof of the Hyatt, also enhances backyard gardens in the surrounding area.<span>&#148;</span>
  </blockquote>
  <figcaption class="source">&mdash; Doug Fisher, NJ Agriculture Secretary</figcaption>
</figure></div></div><div class="sqs-block quote-block sqs-block-quote" data-block-type="31" id="block-9e84547eeba2d0307360"><div class="sqs-block-content"><figure>
  <blockquote>
    <span>&#147;</span>I wanted to thank you for all that you do for New Jersey.  Your efforts, both large and small, are what makes our state great...<span>&#148;</span>
  </blockquote>
  <figcaption class="source">&mdash; Chris Christie, Governor of New Jersey</figcaption>
</figure></div></div><div class="sqs-block horizontalrule-block sqs-block-horizontalrule" data-block-type="47" id="block-5b429c2a5ecfbddffdfb"><div class="sqs-block-content"><hr /></div></div><div class="sqs-block markdown-block sqs-block-markdown" data-block-type="44" id="block-79ab23a29ad814aab487"><div class="sqs-block-content"><p> Copyright 2016 Bee Bold Apiaries in Essex County, NJ </p></div></div><div class="sqs-block horizontalrule-block sqs-block-horizontalrule" data-block-type="47" id="block-8be4cb4f810c681e129b"><div class="sqs-block-content"><hr /></div></div></div></div></div>
      </section>

      <section id="sidebar" class="logo-image">


        <div class="logo" data-content-field="site-title">
          <h1>
            <a href="/">
              <img src="//static1.squarespace.com/static/504a9746e4b0a7ecb415e46d/t/539f2977e4b07ded532b5d2d/1453230598735/?format=1500w" alt="Bee Bold Apiaries" />
              <span class="site-title-span">Bee Bold Apiaries</span>
            </a>
          </h1>


          <div class="site-desc">
            <p>Proprietary Honey,<br /><em>Without the Sting!</em></p>
          </div>

        </div>



<nav class="nav">

  <ul class="wrapper">





        <li class="page-collection active">
          <a href="/">
            Home
          </a>
        </li>











        <li class="page-collection">
          <a href="/about/">
            Services
          </a>
        </li>











        <li class="page-collection">
          <a href="/faq/">
            FAQ
          </a>
        </li>











        <li class="page-collection">
          <a href="/contact-us/">
            About
          </a>
        </li>











        <li class="page-collection">
          <a href="/clients/">
            Clients
          </a>
        </li>











        <li class="gallery-collection">
          <a href="/the-honey/">
            The Honey
          </a>
        </li>











        <li class="page-collection">
          <a href="/press/">
            Press
          </a>
        </li>











        <li class="page-collection">
          <a href="/honeybee-facts/">
            Honeybee Facts
          </a>
        </li>











        <li class="page-collection">
          <a href="/contact/">
            Contact
          </a>
        </li>







  </ul>

</nav>


        <div class="sqs-layout sqs-grid-1 columns-1" data-type="block-field" data-updated-on="1402358082109" id="sqs-sidebar"><div class="row sqs-row"><div class="col sqs-col-1 span-1"><div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-828337bb92ba915ba04c"><div class="sqs-block-content"><p><a target="_blank" href="mailto:eric@beeboldapiaries.com">eric@beeboldapiaries.com</a>&nbsp;</p></div></div></div></div></div>



        <div class="socialicons-block">
          <div class="account facebook"><a href="https://www.facebook.com/HoneyBeesfromBeeBoldApiaries" target="_blank" aria-label="facebook"><span class="social-icon"></span>facebook</a></div>
        </div>



      </section>

    </div>
  </div>

  <footer id="footer">
    <div class="wrapper">
      <div class="sqs-layout sqs-grid-12 columns-12 empty" data-type="block-field" id="sqs-footer"><div class="row sqs-row"><div class="col sqs-col-12 span-12"></div></div></div>
      <script type="text/javascript" data-sqs-type="imageloader-bootstraper">(function() {if(window.ImageLoader) { window.ImageLoader.bootstrap(); }})();</script>
<script>Squarespace.afterBodyLoad(Y);</script>
    </div>
  </footer>



</body>
</html>
