<div class = "section-container" id = "press-top-sc">
  <div id = "press-top-image" class = "bg-container parallax__layer">
  <!-- <%= image_tag("front-mid.jpg") %> -->
  </div>

  <div id = "press-top-content" class = "content-container parallax__layer">
    <h1>PICTURES GO HERE</h1>
  </div>
</div>


