<div class = "section-container" id = "services-top-sc">
  <div id = "services-top-image" class = "bg-container parallax__layer">
  <!-- <%= image_tag("front-mid.jpg") %> -->
  </div>

  <div id = "services-top-content" class = "content-container parallax__layer">
  <h1>
    What we Provide:

Find a safe and unobtrusive location for the colonies on your property.
Install and secure all the bee's equipment including hive stand, landing board, boxes, frames and covers
Install a"nucleus" colony of honeybees
Food for the bees as needed throughout the year
Organic mite and pest prevention program
Regular maintenance visits for strategic manipulation of frames
Timely installation of additional “supers” before and during honey flows
Monitor and replace queen as needed
Offer a choice of bottles for your honey
Prepare the hives for winter
Open the hives each spring
Harvest and bottle your exquisite honey for you... about 30 lbs per year per hive

</h1>
  </div>
</div>

<div class = "section-container" id = "services-mid-sc">
  <div id = "services-mid-image" class = "bg-container parallax__layer">
  <!-- <%= image_tag("front-mid.jpg") %> -->
  </div>

  <div id = "services-mid-content" class = "content-container parallax__layer">
<h1>
Additional Services:
Design and print custom labels
Honey extraction demonstrations
Educational seminars and presentations with an observation hive for audiences of all ages
Observation hive installation and maintenance
Help with public relations articles, press releases, and updates
Frames loaded with raw honey
Video feed for viewing the bees remotely
Bees wax and propolis samples
Bees wax based lotions and lip balms
Swarm collection
Did you know...

Honey is a 100% pure and natural sweetener where bacteria can not grow and is the only food known to man that will never spoil.
A colony of bees will pollinate trees, plants and vegetables for more than a 2 miles radius of its hive (8700 acres!)
 Medicinal benefits to local honey include the potentially helping reduce seasonal allergies.  (see Honeybee Facts)
 </h1>
  </div>
</div>
